/* Variables */
$primary-color: #DDD;
$background-color: #1e1e1e;
$highlight-color: #ffbf00;
$bright-color: #4cffff;

/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-image: url('../img/velvet_embroidery.png');
}

td, label{
  color: $primary-color;
}

#list th {
  cursor: pointer;
}

th .sort-icon{
  float: right;
  margin-top: 4px;
}

a, a:visited, a:active, a:hover{
  color: $bright-color;
}

table{
  margin-bottom: 0px !important;

  &.borderless, &.borderless th, &.borderless td{
    border: 0px !important;
  }

  &.table-striped tbody tr:nth-of-type(odd) {
      background-color: rgba(0,0,0,.4);
  }

  &.table-striped tbody tr:hover {
      cursor: pointer;
      background-color: rgba(255,255,255,.1);
  }
}


#recipes{

  &.table-striped tbody tr:hover {
      cursor: default;
      background-color: rgba(255,255,255,.1);
  }
}

.nav-pills{

  & .nav-link{
    padding: .5rem .6rem;

    &.active{
      background-color: $highlight-color;
      color: $background-color;
      font-weight: bold;
    }

  }

}

.header {
  padding-bottom: 1rem;

  & h2 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem;
    color: $primary-color;
    margin-left: 15px;
  }

}

.container{

  &#app-wrapper{
    padding: 0px;
    position: relative;
  }

  &#main-wrapper{
    border-radius: 5px;
    background-color: $highlight-color;

    &#main-wrapper #title{
      font-family: 'Vollkorn', serif;
    }

  }

}

#title-row{
  min-height: 67px;
}

#title{
  margin-bottom: 0px;
  margin-top: 20px;
  padding-left: 20px;
  font-size: 27pt;
}

#filter-input-wrapper{
  margin: 0px;
  margin-right: 10px;
  position: relative;

  & input.ng-not-empty ~ #clear-filter{
    display: block;
  }

}

#clear-filter{
  cursor: pointer;
  position: absolute;
  right: 5px;
  bottom: 17px;
  display: none;
}

ul {

  &.pagination{
    margin-bottom: 0px;
    display: flex;
    padding: 15px;

    & li {
      flex-grow: 1;
      display: inline-block;
      text-align: center;
      font-size: 13pt;

      & a{

        line-height: 2;
        display: block;
        border: 1px solid #444;
        background-color: #333;
        text-align: center;
        height: 40px;

        &:active, &:hover{
          text-decoration: none;
        }
      }

      &:nth-child(1) a{
        border-radius: 20px 0px 0px 20px;
      }

      &:last-child a{
        border-radius: 0px 20px 20px 0px;
      }

      &.active a{
        color: $background-color;
        border-color: $bright-color;
        background-color: $bright-color;
        font-weight: bold;
      }
    }
  }
}

.container#details-wrapper{
  border-radius: 5px;
  background-color: $background-color;
  color: $primary-color;
  padding: 0px;

  &.ng-animate{
    transition: all ease 0.4s;
    position: absolute;
  }

  &.ng-enter {
    top: 200px;
    opacity: 0;
  }

  &.ng-leave,
  &.ng-enter.ng-enter-active {
    top: 0;
    opacity: 1;
  }

  &.ng-leave.ng-leave-active {
    top: -200px;
    opacity: 0;
  }
}

.pre-fuse-card{
  min-height: 250px;
  text-align: center;
  margin: 10px;
  margin-bottom: 5px;
  padding: 30px;
  background-color: $highlight-color;
  border-radius: 3px;
  color: $background-color;

  & h4{
    margin-bottom: 0px;
  }

  & #filter-input-wrapper{
    width: 100%;
  }

  & p{
    margin-top: 1rem;
    margin-bottom: 0px;
    font-weight: bold;
  }
}

.custom-slider{

  &.rzslider{
    & .rz-bar {
      background: $bright-color;
    }

    & .rz-selection {

    }

    & .rz-pointer {
      width:20px;
      height: 20px;
      width: 20px;
      top: -9px;
      height: 20px;
      background-color: $bright-color;

      &:after{
        width:15px;
        height: 15px;
        border-radius: 15px;
        width: 10px;
        height: 10px;
        left: 5px;
        top: 5px;
        background-color: $highlight-color;
      }
    }

    & .rz-bubble {
      font-weight: bold;
    }
  }
}

.fuse-button{
  text-align: center;
  padding: 0px 25px;
  margin-top: 10px;
  padding-bottom: 10px;

  & .btn{
    cursor: pointer;
    width: 80%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    color: $primary-color;
    font-weight: bold;
    background-color: #3c23b4;
  }
}

#fusion-error{
  display: block;
  width: 100%;
  text-align: center;
  padding: 20px;
  font-weight: bold;
}

#recipes {

  & td{
    vertical-align: middle;
  }

  & .recipe-persona a,
  & .recipe-persona i{
    display: inline-block;
    vertical-align: middle;
  }

  & i{
    margin-left: 10px;
  }

  & .recipe-persona-name{
    display: block;
  }

  & .recipe-persona-info{
    font-size: 10pt;
  }
}

#footer{
  padding: 15px;
  font-size: 11pt;
  font-style: italic;
  text-align: center;

  & a{
    color: darken($bright-color, 40%);
  }
}
