/* Variables */
$primary-color: #DDD;
$background-color: #1e1e1e;
$highlight-color: #faff0c;
$bright-color: #4cffff;

/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-image: url('../img/velvet_embroidery.png');
}

td, label{
  color: $primary-color;
}

#list th {
  cursor: pointer;
}

th .sort-icon{
  float: right;
  margin-top: 4px;
}

a, a:visited, a:active, a:hover{
  color: $bright-color;
}

table.borderless, table.borderless th, table.borderless td{
  border: 0px !important;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.4);
}

.table-striped tbody tr:hover {
    cursor: pointer;
    background-color: rgba(255,255,255,.1);
}

#recipes.table-striped tbody tr:hover {
    cursor: default;
    background-color: rgba(255,255,255,.1);
}

.nav-pills .nav-link{
  padding: .5rem .6rem;
}

.nav-pills .nav-link.active{
  background-color: $highlight-color;
  color: $background-color;
  font-weight: bold;
}



/* Custom page header */
.header {
  padding-bottom: 1rem;
}
/* Make the masthead heading the same height as the navigation */
.header h2 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
  color: $primary-color;
  margin-left: 15px;
}

.container#app-wrapper{
  padding: 0px;
}

.container#main-wrapper{
  border-radius: 5px;
  background-color: $highlight-color;
}

.container#main-wrapper #title{
  font-family: 'Vollkorn', serif;
}

#title-row{
  min-height: 67px;
}

#title{
  margin-bottom: 0px;
  margin-top: 20px;
  padding-left: 20px;
  font-size: 27pt;
}

#filter-input-wrapper{
  margin: 0px;
  margin-right: 10px;
}

.container#details-wrapper{
  border-radius: 5px;
  background-color: $background-color;
  color: $primary-color;
  padding: 0px;
}

#footer{
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  font-size: 10pt;
  font-style: italic;
}
