/* Variables */
$primary-color: #DDD;
$background-color: #1e1e1e;
$highlight-color: #ffbf00;
$bright-color: #4cffff;

/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-image: url('../img/velvet_embroidery.png');
}

td, label{
  color: $primary-color;
}

#list th {
  cursor: pointer;
}

th .sort-icon{
  float: right;
  margin-top: 4px;
}

a, a:visited, a:active, a:hover{
  color: $bright-color;
}

table{
  margin-bottom: 0px !important;
}

table.borderless, table.borderless th, table.borderless td{
  border: 0px !important;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.4);
}

.table-striped tbody tr:hover {
    cursor: pointer;
    background-color: rgba(255,255,255,.1);
}

#recipes.table-striped tbody tr:hover {
    cursor: default;
    background-color: rgba(255,255,255,.1);
}

.nav-pills .nav-link{
  padding: .5rem .6rem;
}

.nav-pills .nav-link.active{
  background-color: $highlight-color;
  color: $background-color;
  font-weight: bold;
}



/* Custom page header */
.header {
  padding-bottom: 1rem;
}
/* Make the masthead heading the same height as the navigation */
.header h2 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
  color: $primary-color;
  margin-left: 15px;
}

.container#app-wrapper{
  padding: 0px;
}

.container#main-wrapper{
  border-radius: 5px;
  background-color: $highlight-color;
}

.container#main-wrapper #title{
  font-family: 'Vollkorn', serif;
}

#title-row{
  min-height: 67px;
}

#title{
  margin-bottom: 0px;
  margin-top: 20px;
  padding-left: 20px;
  font-size: 27pt;
}

#filter-input-wrapper{
  margin: 0px;
  margin-right: 10px;
  position: relative;
}

#clear-filter{
  cursor: pointer;
  position: absolute;
  right: 5px;
  bottom: 17px;
  display: none;
}

#filter-input-wrapper input.ng-not-empty ~ #clear-filter{
  display: block;
}

ul.pagination{
  margin-bottom: 0px;
  display: flex;
  padding: 15px;
}

ul.pagination li{
  flex-grow: 1;
  display: inline-block;
  text-align: center;
  font-size: 13pt;
}

ul.pagination li a{
  line-height: 2;
  display: block;
  border: 1px solid #444;
  background-color: #333;
  text-align: center;
  height: 40px;
}

ul.pagination li:nth-child(1) a{
  border-radius: 20px 0px 0px 20px;
}

ul.pagination li:last-child a{
  border-radius: 0px 20px 20px 0px;
}

ul.pagination li a:active,
ul.pagination li a:hover,
{
  text-decoration: none;
}

ul.pagination li.active a{
  color: $background-color;
  border-color: $bright-color;
  background-color: $bright-color;
  font-weight: bold;
}


.container#details-wrapper{
  border-radius: 5px;
  background-color: $background-color;
  color: $primary-color;
  padding: 0px;
}

.container#details-wrapper.ng-enter {
  animation: fadeIn 1s;
}

.container#details-wrapper.ng-leave {
  animation: fadeOut 1s;
}

.pre-fuse-card{
  text-align: center;
  margin: 10px;
  margin-bottom: 5px;
  padding: 30px;
  background-color: $highlight-color;
  border-radius: 3px;
  color: $background-color;
}

.pre-fuse-card h4{
  margin-bottom: 0px;
}

.fuse-button{
  text-align: center;
  padding: 0px 25px;
  margin-top: 10px;
  padding-bottom: 10px;
}

.fuse-button .btn{
  width: 80%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#footer{
  padding: 15px;
  font-size: 11pt;
  font-style: italic;
}

#footer a{
  color: darken($bright-color, 40%);
}
