body {
margin-left:auto;
margin-right:auto;
text-align:left;
font-size:18pt;
width:80%;
background-color:#000;
color:#D4D4D4;
font-family:Verdana,Arial,sans-serif;
text-indent:0;
}

p {
text-indent:0;
}

h1,h2,h3,h4,h5,h6,hr {
text-align:center;
}

p.cimg {
font-size:13.5pt;
text-align:center;
}

a:link,a:active {
color:#FF0;
}

a:visited {
color:#F0F;
}

blockquote {
border-left:solid;
font-size:80%;
padding-left:1.5em;
padding-right:1.5em;
border-width:5px;
}

blockquote>p {
text-indent:0;
}

table td {
vertical-align:top!important;
}

span.spoiler,span.spoiler a {
color:transparent;
}
