<div class="row" id="title-row">
    <div class="col-md-6 text-xs-center">
      <h3 id="title">{{pCalc.persona_name}} Recipes</h3>
    </div>
    <div class="col-md-6 text-right text-xs-center">
      <span class="input input--hoshi" id="filter-input-wrapper">
      	<input ng-model='pCalc.filter' class="input__field input__field--hoshi" type="text" id="filter-input" />
      	<label class="input__label input__label--hoshi input__label--hoshi-color-2" for="filter-input">
      		<span class="input__label-content input__label-content--hoshi">Persona Filter</span>
      	</label>
        <i class="fa sort-icon fa-times-circle" id="clear-filter" ng-click="pCalc.filter=''"></i>
      </span>
    </div>
</div>

<div class="container" id="details-wrapper">
    <span class="persona-info text-center" ng-hide="pCalc.persona">There's no {{pCalc.persona_name}} Persona in this game. Please check your spelling or contact the developer!</span>
    <div ng-show="pCalc.persona">
        <div class="caption text-center">
          <span class="persona-info" ng-show='{{pCalc.persona.item}}'>Requires "{{pCalc.persona.itemname}}" from Elizabeth's request "{{pCalc.persona.itemreq}}" to summon.</span>
          <span class="persona-info" ng-show='{{pCalc.persona.dlc}}'>This is a DLC Persona, it must be downloaded and Summoned First.</span>
          <span class="persona-info" ng-show='{{pCalc.persona.special}}'>This is a Special Fusion, therefore there's only one way to summon it.</span>
        </div>
        <dir-pagination-controls max-size="6" direction-links="true">
        </dir-pagination-controls>
        <table width="100%" class='table table-striped borderless' id="recipes">
          <thead>
            <th>Cost</th>
            <th colspan="3">Ingredients</th>
          </thead>
          <tbody>
            <tr dir-paginate="recipe in allRecipes | filter: pCalc.filter | itemsPerPage:15">
              <td class='recipe-cost'>{{recipe.cost | number}} ¥</td>
              <td class='recipe-persona' ng-repeat="persona in recipe.sources">
                <a ng-show="persona.level > 0" href="#!/persona/{{persona.name}}">
                  <span class="recipe-persona-name">{{persona.name}}</span>
                  <span class="recipe-persona-info">{{persona.arcana}} ({{persona.level}})</span>
                </a>
                <i class="fa fa-key" ng-show="{{persona.item}}" title="This persona requires an item to summon" aria-hidden="true"></i>
                <i class="fa fa-star" ng-show="{{persona.special}}" title="This persona requires a special fusion" aria-hidden="true"></i>
                <i class="fa fa-arrow-circle-down" ng-show="{{persona.dlc}}" title="This persona is only available through DLC" aria-hidden="true"></i>
              </td>
            </tr>
          </tbody>
        </table>
        <dir-pagination-controls max-size="6" direction-links="true">
        </dir-pagination-controls>
    </div>
</div>
