<div class="row" id="title-row">
    <div class="col-md-6">
      <h3 id="title">{{pCalc.persona_name}} Recipes</h3>
    </div>
    <div class="col-md-6 text-right">
      <span class="input input--hoshi" id="filter-input-wrapper">
      	<input ng-model='pList.filter' class="input__field input__field--hoshi" type="text" id="filter-input" />
      	<label class="input__label input__label--hoshi input__label--hoshi-color-2" for="filter-input">
      		<span class="input__label-content input__label-content--hoshi">Persona Filter</span>
      	</label>
      </span>
    </div>
</div>

<div class="container" id="details-wrapper">
    <p ng-hide="pCalc.persona">"{{pCalc.persona_name}}" not found!</p>
    <div ng-show="pCalc.persona">
        <div class="caption">
          <span style='color: slateblue;' ng-show='pCalc.persona.item'></br>Requires "{{pCalc.persona.item}}" from Elizabeth's request "{{pCalc.persona.itemreq}}"</span>
          <span style='color: red;' ng-show='pCalc.persona.dlc'></br>DLC Persona, must be downloaded and Summoned First!</span>
          <span style='color: green;' ng-show='pCalc.persona.special'></br>Special Fusion!</span>
        </div>
        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" >
        </dir-pagination-controls>
        <table width="100%" class='table table-striped borderless' id="recipes">
          <thead>
            <th>Cost</th>
            <th colspan="3">Ingredients</th>
          </thead>
          <tbody>
            <tr dir-paginate="recipe in recipes | filter: pCalc.filter | itemsPerPage:15">
              <td>{{recipe.cost | number}} ¥</td>
              <td ng-repeat="persona in recipe.sources">
                <a href="#!/persona/{{persona.name}}">{{persona.name}}</a>
              </td>
            </tr>
          </tbody>
        </table>
        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" >
        </dir-pagination-controls>
    </div>
</div>
