<div class="row">
    <div class="col-md-6">
      <h2 id="title" class="align-bottom">Persona List</h3>
    </div>
    <div class="col-md-6 text-right">
      <span class="input input--hoshi" id="filter-input-wrapper">
      	<input ng-model='pList.filter' class="input__field input__field--hoshi" type="text" id="filter-input" />
      	<label class="input__label input__label--hoshi input__label--hoshi-color-2" for="filter-input">
      		<span class="input__label-content input__label-content--hoshi">Persona Filter</span>
      	</label>
      </span>
    </div>
</div>
<div class="container" id="details-wrapper">
    <table width="100%" ts-wrapper class='table table-striped'>
        <thead>
            <tr>
              <th ts-criteria="arcana">Arcana</th>
              <th ts-criteria="name">Name</th>
              <th ts-criteria="level" ts-default>Level</th>
            </tr>
        </thead>
        <tr ts-repeat ts-hide-no-data class="persona-item" ng-click="goPersona(persona)" ng-repeat="persona in pList.personae | filter: pList.filter">
          <td>{{persona.arcana | uppercase }}</td>
          <td>{{persona.name}}</td>
          <td>{{persona.level}}</td>
        </tr>
    </table>
</div>
