<div class="row" id="title-row">
    <div class="col-md-6 text-xs-center">
        <h3 id="title">Normal Fusion</h3>
    </div>
</div>
<div class="container" id="details-wrapper">
  <div class="row">
    <div class="col-md-6">
      <div class="pre-fuse-card">
        <input type="text" placeholder="Persona Name" ng-model="f2.p1.name" auto-complete="f2.autoCompleteOptions" />
        <div class="pre-fuse-info">
            {{ f2.p1.arcana = f2.personaeByName[f2.p1.name].arcana }}
            /
            {{ f2.p1.level = f2.personaeByName[f2.p1.name].level }}
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="pre-fuse-card">
        <input type="text" placeholder="Persona Name" ng-model="f2.p2.name" auto-complete="f2.autoCompleteOptions" />
        <div class="pre-fuse-info">
            {{ f2.p2.arcana = f2.personaeByName[f2.p2.name].arcana }}
            /
            {{ f2.p2.level = f2.personaeByName[f2.p2.name].level }}
        </div>
      </div>
    </div>
  </div>
  <div class="row fuse-button">
      <button type="button" class="btn" ng-click="f2.Fuse()">Fuse!</button>
  </div>
  <div class="container">
      <span ng-show="f2.result.error != '' ">{{f2.result.error}}</span>
      <table ng-show="f2.result.error == '' && f2.result.personae.length > 0" width="100%" id="list" class='table table-striped borderless'>
          <thead>
              <tr>
                <th>Arcana</th>
                <th>Name</th>
                <th>Level</th>
              </tr>
          </thead>
          <tr class="persona-item" ng-click="goPersona(persona)" ng-repeat="res_persona in f2.result.personae">
            <td>{{res_persona.arcana | uppercase }}</td>
            <td>{{res_persona.name}}</td>
            <td>{{res_persona.level}}</td>
          </tr>
      </table>
  </div>
</div>
