<div class="row" id="title-row">
    <div class="col-md-6 text-xs-center">
        <h3 id="title">Triangle Fusion</h3>
    </div>
</div>
<div class="container" id="details-wrapper">
  <div class="row">
    <div class="col-md-4">
      <div class="pre-fuse-card">
        <input type="text" placeholder="Persona Name" ng-model="f3.p1.name" auto-complete="f3.autoCompleteOptions" />
        <div class="pre-fuse-info">
            {{ f3.p1.arcana = f3.personaeByName[f3.p1.name].arcana }}
            <select ng-model="f3.p1.level" ng-options="ii for ii in f3.range99(f3.personaeByName[f3.p1.name].level)"></select>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="pre-fuse-card">
        <input type="text" placeholder="Persona Name" ng-model="f3.p2.name" auto-complete="f3.autoCompleteOptions" />
        <div class="pre-fuse-info">
            {{ f3.p2.arcana = f3.personaeByName[f3.p2.name].arcana }}
            <select ng-model="f3.p2.level" ng-options="ii for ii in f3.range99(f3.personaeByName[f3.p2.name].level)"></select>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="pre-fuse-card">
        <input type="text" placeholder="Persona Name" ng-model="f3.p3.name" auto-complete="f3.autoCompleteOptions" />
        <div class="pre-fuse-info">
            {{ f3.p3.arcana = f3.personaeByName[f3.p3.name].arcana }}
            <select ng-model="f3.p3.level" ng-options="ii for ii in f3.range99(f3.personaeByName[f3.p3.name].level)"></select>
        </div>
      </div>
    </div>
  </div>
  <div class="row fuse-button">
      <button type="button" class="btn" ng-click="f3.Fuse3()">Fuse!</button>
  </div>
  <div class="container">
      <span ng-show="f3.result.error != '' ">{{f3.result.error}}</span>
      <table ng-show="f3.result.error == '' && f3.result.personae.length > 0" width="100%" id="list" class='table table-striped borderless'>
          <thead>
              <tr>
                <th>Arcana</th>
                <th>Name</th>
                <th>Level</th>
              </tr>
          </thead>
          <tr class="persona-item" ng-click="goPersona(res_persona)" ng-repeat="res_persona in f3.result.personae">
            <td>{{res_persona.arcana | uppercase }}</td>
            <td>{{res_persona.name}}</td>
            <td>{{res_persona.level}}</td>
          </tr>
      </table>
  </div>
</div>
